%section.ten-oh-announcement
  .ten-oh-label
    %span 12.7
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.7 introduces Parent-Child Pipelines, Windows Shared Runners Beta, Pipeline Resource Groups, and much more!

      .btn-group
        = link_to "/releases/2020/01/22/gitlab-12-7-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
